.guests-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    margin: 0 5vw 5vh 5vw;
}

.guests-heading {
    margin: 0 3vw 2vh 3vw;
    text-align: right;
    font-size: clamp(1.4rem, 2.2vw, 2.4rem);
}