.info-wrapper {
    margin: 0vw 11vw 5vh 11vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vw;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1.8px;
}

h1 {
    padding: 2vw;
    text-decoration: underline;
}

