.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15vw;
  align-items: flex-start ;
  font-size: 5vw;
  padding-bottom: 2vh;
}

.nav-link:active,
.nav-link:visited,
.nav-link:link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--orange);
}

.container-footer {
  background-color: var(--purple);
  padding: 1vh 1vh;
  align-items: center;
  text-align: center;
}

.footer-links:active,
.footer-links:visited,
.footer-links:link
 {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
